
# Geany
*.geany

# Python test
*_old.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# GitEye
target/
/.project
*.project

# other
.idea/
_old/
output/
input/
pages_MW/

*.html
*.txt
*.out
